@model AutoPrueba2.Models.Auto

@{
    ViewData["Title"] = "Index";
}


<h4>Editar</h4>
<hr />
<div id="appAutos">
    <div class="row">
        <div class="col-md-6">
            <form action="/Vehiculos/Edit" id="vehiculoform">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" name="Id" />

                <div class="form-group">
                    <label class="control-label" for="checkbox">Tipo</label>
                    <input v-model="auto.tipo" @@keyup.enter="crearAuto"  name="Tipo" class="form-control" id="tipo"  />
                </div>
                <div class="form-group">
                    <label class="control-label">Marca</label>
                    <input v-model="auto.marca" @@keyup.enter="crearAuto"  name="Marca" class="form-control" id="marca" />
                </div>
                <div class="form-group">
                    <label @@keyup.enter="crearAuto" class="control-label"> Modelo </label>
                    <input v-model="auto.modelo" for="modelo" name="Modelo" class="form-control" id="modelo" />
                </div>
                <div class="form-group">
                    <label @@keyup.enter="crearAuto" class="control-label">Color </label>
                    <input v-model="auto.color" for="color" name="Color" class="form-control" id="color"/>
                </div>
                <div class="form-group">
                    <label @@keyup.enter="crearAuto" class="control-label">Deposito </label>
                    <input v-model="auto.deposito" id="deposito" name="Deposito" class="form-control" />
                </div>
                <div class="form-group">
                    <label @@keyup.enter="crearAuto" class="control-label"> Matricula Caracter Uno</label>
                    <input v-model="auto.matriculaCaracterUno" id="matriculaCaracterUno" name="MatriculaCaracterUno" class="form-control" />
                </div>
                <div class="form-group">
                    <label @@keyup.enter="crearAuto" class="control-label">Matricula Caracter Dos</label>
                    <input v-model="auto.matriculaCaracterDos" id="matriculaCaracterDos" name="MatriculaCaracterDos" class="form-control" type="number"/>
                </div>
                <div class="form-group">
                    <label @@keyup.enter="crearAuto" class="control-label">Matricula Caracter Tres</label>
                    <input v-model="auto.matriculaCaracterTres" id="matriculaCaracterTres" name="MatriculaCaracterTres" class="form-control" />
                </div>
                <div class="form-group">
                    <label @@keyup.enter="crearAuto" class="control-label">Fecha</label>
                    <input v-model="auto.fecha" name="Fecha" id="fecha" class="form-control"  />
                </div>
                <div class="form-group">
                    <input type="submit" value="Enviar" v-on:click="auto" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>
</div>
@section ScriptsSection {
    <script src="~/js/Formulario.js"></script>
    <script src="~/js/vue.js"></script>
    <script>
        $(document).ready(function () {
            vm.obtenerAutoById(@ViewData["Id"]);
        });
    </script>
    <script src="~/js/Vehiculo-validator.js"></script>
    <script>
        $("#vehiculoform").validate();
    </script>
}
