@model AutoPrueba2.Models.Auto

@{
    ViewData["Title"] = "Index";
}


<h4>Editar</h4>
<hr />
<div id="appAutos">
    <div class="row">
        <div class="col-md-6">
            <form action="/Vehiculos/Edit" id="vehiculoform">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" name="Id" />

                <div class="form-group">
                    <label class="control-label" for="checkbox">{{ auto.tipo }}</label>
                    <input v-model="auto.Tipo" @@keyup.enter="crearAuto"  name="Tipo" class="form-control" id="Tipo"  />
                </div>
                <div class="form-group">
                    <label class="control-label">{{ auto.marca }}</label>
                    <input v-model="auto.Marca" @@keyup.enter="crearAuto" for="Marca" name="Marca" class="form-control" id="Marca" />
                </div>
                <div class="form-group">
                    <label @@keyup.enter="crearAuto" class="control-label">{{ auto.modelo }}</label>
                    <input v-model="auto.Modelo" for="Modelo" name="Modelo" class="form-control" id="Modelo" />
                </div>
                <div class="form-group">
                    <label @@keyup.enter="crearAuto" class="control-label">{{ auto.color }}</label>
                    <input v-model="auto.Color" for="Color" name="Color" class="form-control" id="Color"/>
                </div>
                <div class="form-group">
                    <label @@keyup.enter="crearAuto" class="control-label">{{ auto.deposito }}</label>
                    <input v-model="auto.Deposito" id="Deposito" name="Deposito" class="form-control" />
                </div>
                <div class="form-group">
                    <label @@keyup.enter="crearAuto" class="control-label">{{auto.matriculaConcatenada }}</label>
                    <input v-model="auto.MatriculaCaracterUno" id="MatriculaConcatenada" name="MatriculaCaracterUno" class="form-control" />
                </div>
                @*<div class="form-group">
                    <label @@keyup.enter="crearAuto" class="control-label">{{ auto.matriculacaracterdos }}</label>
                    <input v-model="auto.MatriculaCaracterDos" id="MatriculaCaracterDos" name="MatriculaCaracterDos" class="form-control" />
                </div>
                <div class="form-group">
                    <label @@keyup.enter="crearAuto" class="control-label">{{ auto.matriculacaractertres }}</label>
                    <input v-model="auto.MatriculaCaracterTres" id="MatriculaCaracterTres" name="MatriculaCaracterTres" class="form-control" />
                </div>*@
                <div class="form-group">
                    <label @@keyup.enter="crearAuto" class="control-label">{{ auto.fecha }}</label>
                    <input v-model="auto.Fecha" name="Fecha"id="Fecha" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="auto" v-on:click="auto" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>
</div>
@section ScriptsSection {
    <script src="~/js/Formulario.js"></script>
    <script src="~/js/vue.js"></script>
    <script>
        $(document).ready(function () {
            vm.obtenerAutoById(@ViewData["Id"]);
        });
    </script>
    <script src="~/js/Vehiculo-validator.js"></script>
    <script>
        $("#vehiculoform").validate();
    </script>
}
