@model Auto
@{
    ViewData["Title"] = "Index";
}

<h1>Eliminar</h1>
<p>Desea Eliminar Este Registro </p>
<div id="appAutos">
    <div>
        <h4>Auto</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                <partial>Id</partial>
            </dt>
            <dd class="col-sm-10">
                {{ auto.id }}
            </dd>
            <dt class="col-sm-2">
                <partial>Tipo</partial>
            </dt>
            <dd class="col-sm-10">
                {{ auto.tipo }}
            </dd>
            <dt class="col-sm-2">
                <partial>Marca</partial>
            </dt>
            <dd class="col-sm-10">
                {{ auto.marca }}
            </dd>
            <dt class="col-sm-2">
                <partial>Modelo</partial>
            </dt>
            <dd class="col-sm-10">
                {{ auto.modelo }}
            </dd>
            <dt class="col-sm-2">
                <partial>Color</partial>
            </dt>
            <dd class="col-sm-10">
                {{ auto.color}}
            </dd>
            <dt class="col-sm-2">
                <partial>Deposito</partial>
            </dt>
            <dd class="col-sm-10">
                {{ auto.deposito }}
            </dd>
            <dt class="col-sm-2">
                <partial>Matricula</partial>
            </dt>
            <dd class="col-sm-10">
                {{ auto.matriculaConcatenada }}
            </dd>
            <dt class="col-sm-2">
                <partial>Fecha</partial>
            </dt>
            <dd class="col-sm-10">
                {{ auto.fecha}}
            </dd>
        </dl>
        <form action="/Vehiculos/Delete">
            <input type="hidden" name="Id" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" />

        </form>
    </div>
    </div>
    @section ScriptsSection {
        <script src="~/js/Formulario.js"></script>
        <script>
            $(document).ready(function () {
                vm.obtenerAutoById(@ViewData["Id"]);
            });
        </script>
    }
